# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
bzip2
ca-certificates
certifi
click
colorama
dataclasses
flask
itsdangerous
jinja2
libffi
markupsafe
openssl
python
setuptools
sqlite
tk
tzdata
vc
vs2015_runtime
werkzeug
wheel
wincertstor
xz
zlib
